*{
	font-family: helvetica;
	font-weight: lighter;
}
h1{
	font-family: "Courier New", Courier, monospace;
	padding: 20px;
}
body{
	background-color: lightgray;
}
#main{
	background-color: white;
	padding: 20px;
	margin: 20px;
}

a {
	text-decoration: none;
	color: #f44253;
	font-weight: bold;
}

#logout{
	display: inline-block;
	margin-left: 1110px;
	margin-top: -160px;
}

.grid-item {
	width: 180px;
	padding: 10px;
	margin: 5px;
	background-color: white;
}
	#italic{
		font-style: italic;
		font-size: 11px;
	}
	#description{
		margin: 5px;
	}