<html>
<head>
	<title>User | DashBoard</title>
</head>
<body>
	<a href="{% url 'user_app:dashboard' %}">Home</a>
	<a href="{% url 'user_app:logout' %}">Log Out</a>
	<h3>{{user.first_name}} {{user.last_name}}</h3>
	<p>Registered at: {{user.created_at}}</p>
	<p>User ID: {{user.id}}</p>
	<p>Email address: {{user.email}}</p>
	<p>Description: {{user.description}}</p>
	{% if user.id == request.session.id %}
		<a href="{% url 'user_app:edit' id=user.id %}">Edit</a>
	{% endif %}

	<h4>Leave a message for {{user.first_name}}</h4>
	<form>
		{% csrf_token %}
		<textarea></textarea>
		<input type = 'submit'>
	</form>

	<h4>Messages:</h4>
</body>
</html>