<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h2>Welcome</h2>
	<p>This is an application built using an MVC framework (MTV framework in Django terms, of course).</p>
	<h3><a href="{% url 'user_app:loginpage' %}">Start</a><h3>
	<br>
	<h4>Manage Users</h4>
	<p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
	<h4>Leave Messages</h4>
	<p>Users will be able to leave a message to another user using this application.</p>
	<h4>Edit User Information</h4>
	<p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
</body>
</html>