<html>
<head>
	<title>PRODUCT | Create New Product</title>
</head>
<body>
	<h1>Create a New Product</h1>
	<p>Here is where the user will create a new product.</p>
	{% for message in messages %}
		{{message}}
	{% endfor %}
	<form action = "{% url 'products:create' %}" method = 'post'>
		{% csrf_token %}
		Name:<input type = 'text' name = 'name'>
		<br>
		Description:<input type = 'text' name = 'description'>
		<br>
		Price:<input type = 'text' name = 'price'>
		<br>
		<input type = 'submit' value = 'CREATE'>
	</form>
	<a href="{% url 'products:index' %}">Home</a>
</body>
</html>