<html>
<head>
	{% load staticfiles %}

	<title>PRODUCT | All Products</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<style type="text/css">
		h1{
			margin-left: 20px;
		}
		p{
			margin-left: 20px;
		}
		#productlist{
			display: inline-block;
			border-style: solid;
			border-width: .5px;
			border-radius: 10px;
			width: 200px;
			padding:10px;
			margin: 20px;
		}
		.button{
			margin-left:15px;
			color: lightblue;
			text-decoration: none;
		}
		#addproduct{
			margin:20px;
			margin-left: 50px;
			display: inline-block;
			text-decoration: none;
			background-color: lightblue;
			color: white;
			padding: 15px;
		}
	</style>
</head>
<body>
	<h2>Create Product</h2>
	<form action = "{% url 'products:create_product' %}" method = 'POST' id = "post-form">
		{% csrf_token %}
		Name:<input type = 'text' name = 'name'>
		<br>
		Description:<input id='description' type = 'text' name = 'description'>
		<br>
		Price:<input type = 'text' name = 'price'>
		<br>
		<div id = "results"></div>
		<br>
		<input type = 'submit' value = 'CREATE'>
	</form>
	<a href="{% url 'products:index' %}">Home</a>
	<h1>Products</h1>
	<p>list of products</p>

	<div id = 'talk'>

	{% for product in products %}

		<div id = 'productlist'>
			<h3>{{product.name}}</h3>
			<p>{{product.description}}</p>
			<p>{{product.price}}</p>

		<a href="/show/{{product.id}}" class = 'button'>Show</a>
		<a href="/edit/{{product.id}}" class = 'button'>Edit</a>
		<a href="/destroy/{{product.id}}" class = 'button'>Remove</a>
		</div>

	{% endfor %}

	</div>
	<br>
	<script src = "{% static 'scripts/main.js' %}"></script>
	
</body>
</html>