<html>
<head>
	<title>Secrets | Dojo Secrets</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/secrets.css' %}">
</head>
<body>
	<h1>Dojo Secrets</h1>
	<p id = 'welcomeuser'>Welcome, {{request.session.user.first_name}}.</p>
	<a href="/logout">Log Out</a>
	<h2>Secrets</h2>
	<a href="{% url 'dojo_secrets:popular' %}}">Popular Secrets</a>
	<p>Post a secret:</p>
	<form action = "{% url 'dojo_secrets:newsecret' %}" method='post'>
		{% csrf_token %}
		<textarea name = 'message'></textarea>
		<br>
		<input type = 'submit' value = 'Post Secret'>
	</form>	

<div id = 'messagebox'>
	{% for message in messages %}
	<br>
		{{message.message}}
		{{message.user.created_at}}
		({{message.messagelikes.count}} likes)

		{% if message.user.id == request.session.user.id %}
			<a href="{% url 'dojo_secrets:delete' message.id %}">DELETE</a>
			(Posted by you.)
		{% else %}
			<!-- -->

			{% for like in message.messagelikes.all %}

				{% if like.user.id == request.session.user.id %}

					You liked this

				{% endif %}

			{% endfor %}

					<form action = "{% url 'dojo_secrets:like' message.id %}" method='post'>
						{% csrf_token %}
						<input type = 'submit' value = 'LIKE'> 
						<input type = 'hidden' name = 'message' value = '{{message.id}}'>
						<input type = 'hidden' name = 'user' value = '{{request.session.user.id}}'>
					</form>

			<!-- -->	

		{% endif %}

		<br>
	{% endfor %}
</div>
	<br>
	<br>
</body>
</html>