<html>
<head>
	<title>Popular Secrets | Dojo Secrets</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/popular.css' %}">
</head>
<body>
	<h1>Dojo Secrets</h1>
	<a href="/logout">Log Out</a>
	<h2>Popular Secrets</h2>
		{% for message in messages %}
		<br>
			{{message.message}}
			{{message.messagelikes.count}} likes
				{% if message.user.id == request.session.user.id %}
					<a href="/delete/{{message.id}}">DELETE</a>
					(Posted by you.)
				{% else %}
					{% for thing in message.messagelikes.all %}

						{% if thing.user.id == request.session.user.id %}
							(You liked this)
						{% endif %}

					{% endfor %}

				{% if request.session.user.id not in message.messagelikes.all %}

					<form action = "{% url 'dojo_secrets:like' message.id %}" method='post'>
						{% csrf_token %}
						<input type = 'submit' value = 'LIKE'> 
						<input type = 'hidden' name = 'message' value = '{{message.id}}'>
						<input type = 'hidden' name = 'user' value = '{{request.session.user.id}}'>
					</form>
				{% endif %}

			{% endif %}

		<br>
		{% endfor %}
	<a href="{% url 'dojo_secrets:index' %}">Home</a>
</body>
</html>