<html>
<head>
	<title>Secrets | Dojo Secrets</title>
</head>
<body>
	<h1>Dojo Secrets</h1>
	Welcome, {{request.session.user.first_name}}.
	<a href="/logout">Log Out</a>
	<h2>Secrets</h2>
	<p>Post a secret:</p>
	<form action = '/newsecret' method='post'>
		{% csrf_token %}
		<textarea name = 'message'></textarea>
		<br>
		<input type = 'submit' value = 'Post Secret'>
	</form>	
	{% for message in messages %}
		{{message.message}}
		{{message.user.created_at}}
		{{message.user.first_name}}
		{{message.messagelikes.count}}
		{% if message.user.id == request.session.user.id %}
			<a href="/delete/{{message.id}}">DELETE</a>
			(Posted by you.)
		{% else %}
			<form action = '/like' method='post'>
				{% csrf_token %}
				<input type = 'submit' value = 'LIKE'> 
				<input type = 'hidden' name = 'message' value = '{{message.id}}'>
				<input type = 'hidden' name = 'user' value = '{{request.session.user.id}}'>
			</form>
		{% endif %}
		<br>
	{% endfor %}
	<br>
	{% for user in users %}
		{{user.first_name}}
		<br>
	{% endfor %}
	<br>
	<a href="/popular">Popular Secrets</a>
</body>
</html>