<html>
<head>
	<title>NINJAS</title>
	<style type="text/css">
	img{
		width: 200px;
		margin:15px;
	}
	</style>
</head>
<body>
	<h1>Ninjas</h1>
	<img src="http://vignette3.wikia.nocookie.net/fantendo/images/a/af/Blue_Koopa!.png/revision/latest?cb=20100502201844">
	<img src="http://vignette4.wikia.nocookie.net/fantendo/images/f/fb/KoopaQuicknew.png/revision/latest?cb=20120921215044">
	<img src="http://vignette2.wikia.nocookie.net/nintendo/images/1/10/Koopa_Paratroopa_(New_Super_Mario_Bros).png/revision/latest?cb=20121221010816&path-prefix=en">
	<img src="http://wiki.userpedia.net/images/c/c2/KoopaKT1.png">
</body>
</html>