<html>
<head>
	<title>WELCOME</title>
</head>
<body>
	<p>welcome, {{request.session.first_name}}</p>

	<a href="{% url 'bookreview_app:new' %}">Add a review</a>
	{% for review in reviews %}
		<br>
		POSTED BY:
		<a href="{% url 'user_app:details' id=review.user.id %}">{{review.user.first_name}}</a>
		BOOK TITLE:{{review.book.title}}
		AUTHOR:{{review.book.author}}
		REVIEW:{{review.review}}
		RATING:{{review.rating}}/5
		<br>
	{% empty %}
		<p>Looks like no reviews yet.</p>
	{% endfor %}

	<form action = "{% url 'user_app:logout' %}" method='post'>
		{% csrf_token %}
		<input type = 'submit' value='logout'>
	</form>
</body>
</html>