<html>
<head>
	<title>ADD REVIEW</title>
</head>
<body>
	Add a Review:
	{% for message in messages %}
		{{message}}
	{% endfor %}
	<form action="{% url 'bookreview_app:create' %}" method='post'>
		{% csrf_token %}
		Add a new book: <input type = 'text' name='add_book'>
		<br>
		<select name="author_select">
			{% for author in authors %}
				<option value = '{{author.author}}'>{{author.author}}</option>
			{% empty %}
				<option>Looks like no authors yet!</option>
			{% endfor %}
		</select>
		Or, add a new author: <input type = 'text' name ='add_author' placeholder='author'>
		<br>
		<textarea name='review' placeholder='review'></textarea>
		<br>
		<input type = 'number' name='rating' placeholder='Rating' min='0' max='5' value='0'>
		<input type = 'hidden' name='user_id' value = '{{request.session.id}}'>
		<input type = 'submit' value='Submit'>
	</form>
	<a href="{% url 'bookreview_app:index' %}">Home</a>
</body>
</html>