<html>
<head>
	<title>ADD REVIEW</title>
</head>
<body>
	Add a Review:
	{% for message in messages %}
		{{message}}
	{% endfor %}
	<form action="{% url 'bookreview_app:create' %}" method='post'>
		{% csrf_token %}
		Select a book: <select name='select_book'>
		<option value = "" disabled selected>Choose Book</option>
		{% for book in books %}
			<option value="{{book.title}}">{{book.title}}</option>
		{% endfor %}
	</select>
		Or, add a new book: <input type = 'text' name='add_book' placeholder = 'book name'>
		<br>
		Add a new author: <input type = 'text' name ='add_author' placeholder='author'>
		<br>
		<textarea name='review' placeholder='review'></textarea>
		<br>
		<input type = 'number' name='rating' placeholder='Rating' min='0' max='5' value='0'>
		<input type = 'hidden' name='user_id' value = '{{request.session.id}}'>
		<input type = 'submit' value='Submit'>
	</form>
	<a href="{% url 'bookreview_app:index' %}">Home</a>
</body>
</html>